<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Adoption</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div id="app">
        <div id="wrapper"></div>

            <nav>
                <p class="navButton" @click="swapPage(1)">Listings</p>
                <p class="navButton" @click="swapPage(2)">Applications</p>
            </nav>


            <div  class="page" v-if="page === 1">
                <h1>Pet Listings</h1>
                <div class="table">                
                    <div class="table-row">
                        <p>Name</p>
                        <p>Species</p>
                        <p>Breed</p>
                        <p>Age</p>
                        <p>Gender</p>
                    </div>
                    <div class="table-row" v-for="pet in pets">
                        <p>{{pet.name}}</p>
                        <p>{{pet.species}}</p>
                        <p>{{pet.breed}}</p>
                        <p>{{pet.age}}</p>
                        <p>{{pet.gender}}</p>
                    </div>
                </div>

            </div>


            <div class="page" v-else="page ===2">
                <h1>Pet Applications</h1>

            </div>
        </div>
        



    </div>
    <script src="app.js"></script>
</body>



</html>