<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Adoption</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div id="app">
        <div id="wrapper"></div>

            <nav>
                <p class="navButton" @click="swapPage(1)">Listings</p>
                <p class="navButton" @click="swapPage(2)">Applications</p>
            </nav>


            <div  class="page" v-if="page === 1">
                <h1>Pet Listings</h1>
                <input type="text" placeholder="Search...">
                <p>Search by</p>
                <select>
                    <option value="name">Name</option>
                    <option value="species">Species</option>
                    <option value="breed">Breed</option>
                </select>
                <div class="table">                
                    <div class="table-row">
                        <p>Name</p>
                        <p>Species</p>
                        <p>Breed</p>
                        <p>Age</p>
                        <p>Gender</p>
                        
                    </div>
                    <div class="table-row" v-for="(pet, indx) in pets">
                        <p>{{pet.name}}</p>
                        <p>{{pet.species}}</p>
                        <p>{{pet.breed}}</p>
                        <p>{{pet.age}}</p>
                        <p>{{pet.gender}}</p>
                        <button @click="fillApplication(indx)">Adopt</button>
                        <button @click="deletePetListing(indx)">X</button>
                    </div>
                </div>

            </div>


            <div class="page" v-else="page ===2">
                <h1>Pet Applications</h1>
                <div id="add-app-div">
                    <input type="text" placeholder="Name" v-model="userName">
                    <input type="text" placeholder="Phone Number" v-model="phoneNumber">
                    <input type="text" placeholder="Email" v-model="email">
                    <input type="text" placeholder="Pet ID" v-model="petID">
                    <button @click="createApplication()">Submit Application</button>
                </div>

                <div class="table">                
                    <div class="table-row">
                        <p>Name</p>
                        <p>Phone Number</p>
                        <p>Email</p>
                        <p>Pet ID</p>
                    </div>
                    <div class="table-row" v-for="application in applications">
                        <p>{{application.name}}</p>
                        <p>{{application.phone_number}}</p>
                        <p>{{application.email}}</p>
                        <p>{{application.pet_id}}</p>
                    </div>
                </div>
            </div>
        </div>
        



    </div>
    <script src="app.js"></script>
</body>



</html>