nav {
  display: flex;
  flex-flow: row nowrap;
  height: 30px;
  align-items: center;
  padding: 10px;
  background-color: grey;
}

.navButton {
  padding: 10px;
  background-color: grey;
}

.page {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-row {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 2fr 1fr 1fr;

  &:nth-child(even) {
    background-color: grey;
  }
}
